header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
 }
 .logo {
    max-width: 90px;
 }
 .nav {
    display: flex;
 }
 .nav li {
    list-style: none;
 }
 .nav li a {
    position: relative;
    color: #00704a;
    text-decoration: none;
    margin-left: 40px;
    text-transform: uppercase;
    font-weight: 600;
 }